parameters:
	ignoreErrors:
		- '#Call to an undefined method Nette\\DI\\Container::setAppContainer\(\)#'
		- '#Parameter \#3 \$getter of static method Nette\\DI\\Resolver::autowireArguments\(\) expects callable, Nette\\DI\\Container given#'